body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.input-group-text {
  background-color: #007bff;
  color: white;
}

button {
  margin-top: 10px;
}

.container-fluid {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}


input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: #f0f0f0 !important;
}